<mat-toolbar>
  <img id="logo" src="/assets/images/globe.png" [routerLink]="['']"  />
  <button [routerLink]="['countries-list']" routerLinkActive="active"  mat-button>Europe Region</button>
  <mat-divider [vertical]="true" style="min-height:30px;"></mat-divider>
  <button mat-button [routerLink]="['currencies-list']" routerLinkActive="active" >Currencies</button>
</mat-toolbar>
