<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center mt-5" *ngIf="loading">
      <h4>Please wait while loading information :D</h4>
      <mat-spinner class="ml-auto mr-auto mt-2"></mat-spinner>
    </div>
    <div class="col-sm-5" *ngIf="!loading">
      <mat-card class="mt-4" style="max-height: 75vh;overflow-y:scroll;">
        <mat-list>
          <h3 mat-subheader>Countries</h3>
          <mat-list-item *ngFor="let country of listOfCountries;let isLast=last;">
            <strong>{{country.name}}</strong>&nbsp;-&nbsp;
            <span>
              <a [routerLink]="['country-details',country.capital]" routerLinkActive="active" >{{country.capital}}</a>
            </span>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <div class="col-sm-7" *ngIf="!loading">
      <div class="mt-4">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
