<mat-card *ngIf="details | async as countryDetails">
  <mat-card-header>
    <div mat-card-avatar
      [ngStyle]="{'background-image':'url('+countryDetails.flag+')','background-size':'cover','background-position':'center','background-repeat':'no-repeat'}">
    </div>
    <mat-card-title>
      {{countryDetails.name}} - {{countryDetails.nativeName}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-fluid">
      <mat-list>
        <mat-list-item>
          <strong class="col-sm-3">Capital: </strong>
          <span>&nbsp;{{countryDetails.capital}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <strong class="col-sm-3">Population: </strong>
          <span>&nbsp;{{countryDetails.population}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <strong class="col-sm-3">Native Name: </strong>
          <span>&nbsp;{{countryDetails.nativeName}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <strong class="col-sm-3">Sub-Region: </strong>
          <span>&nbsp;{{countryDetails.subregion}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
