<div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mt-5">
        <h3>Welcome to this cute little kitchen sink Angular project</h3>
        <br/>
        <h4>Feel free to navigate around</h4>
        <br/>
        <h5>Enjoy! :D</h5>
      </div>
    </div>
  </div>
