<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center mt-5" *ngIf="loading">
      <h4>Please wait while loading information :D</h4>
      <mat-spinner class="ml-auto mr-auto mt-2"></mat-spinner>
    </div>
    <div class="col-sm-5 mt-5 p-2" style="max-height: 75vh;overflow-y:scroll;" *ngIf="!loading">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let currentCountry of listOfCountries;let isLast=last;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{currentCountry.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <strong>Capital: </strong>&nbsp;
              <span>{{currentCountry.capital}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <ng-container>
              <mat-list-item>
                <strong>Currencies</strong>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div>
                <mat-list>
                  <ng-container *ngFor="let currency of currentCountry.currencies;">
                    <a style="cursor:pointer;" (click)="selectCurrency(currency)">
                      <mat-list-item class="list-group-item list-group-item-action">
                        {{currency.name}} - {{currency.code}}
                      </mat-list-item>
                    </a>
                  </ng-container>
                </mat-list>
              </div>
            </ng-container>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-sm-7 mt-5" *ngIf="!loading">
      <div>
        <app-same-currency-countries [selectedCurrency]="selectedCurrency"></app-same-currency-countries>
      </div>
    </div>
  </div>
</div>
