<div class="col-sm-12 text-center" *ngIf="loading && selectedCurrency">
  <h4>Please wait while loading information :D</h4>
  <mat-spinner class="ml-auto mr-auto mt-2"></mat-spinner>
</div>
<mat-card *ngIf="!loading && selectedCurrency">
  <mat-card-header>
    <mat-card-title>
      Countries with {{selectedCurrency.name}} ({{selectedCurrency.code}}) as currency
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="container-fluid">
      <ng-container *ngIf="countriesWithSameCurrency.length != 0; else noresults">
        <mat-list>
          <mat-list-item *ngFor="let country of countriesWithSameCurrency;let isLast=last;">
            <strong>{{country.name}}</strong>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noresults>
        No countries with such currency found!
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
